body{
    background-color: #FAF6F6;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.form{
    display: flex;
    flex-direction: row;
}

.requestBtn{
    background-color: #303F9F;
    color: #f5f5f5;
    border-color: #303F9F;
    box-shadow: 3px;
    border-radius: 5px;
    font-size: medium;
    padding: 10px;
    padding-left: 3em;
    padding-right: 3em;
}

.deleteBtn{
    background-color: #FF5252;
    color: #f5f5f5;
    border-color: #FF5252;
    box-shadow: 3px;
    border-radius: 5px;
    font-size: medium;
    padding: 10px;
    padding-left: 3em;
    padding-right: 3em;
}

.inputTxt{
    color: #78909C;
    padding-left: 5px;
    padding-right: 5px;
    width: 60%;
}

.console{
    padding: 1em;
    margin-bottom: 30px;
    border-radius: 5px;
    background-color: #424242;
    color: #EFEBE9;
    font-family: 'Courier New', Courier, monospace;
    max-height: 500px;
    min-height: auto;
    overflow-x: hidden;
    overflow-y: auto;
}